@{
    Layout = "~/Views/Shared/_MyCMSLayout.cshtml";
    @Styles.Render("~/Content/CMS.css")
}

<div class="textboxEditText">
    <div class="hiddendiv" hidden></div>
    <p>
        <label>Title subpage 1:</label>
        <input type="text" id="title1" />
    </p>
    <p>
        <label>Text subpage 1:</label>
        <textarea type="text" id="text1"></textarea>
    </p>
    <p>
        <button id="button1">Change Text</button>
    </p>
</div>
<div class="textboxEditText">
    <p>
        <label>Title subpage 2:</label>
        <input type="text" id="title2" />
    </p>
    <p>
        <label>Text subpage 2:</label>
        <textarea type="text" id="text2"></textarea>
    </p>
    <p>
        <button id="button2">Change Text</button>
    </p>
</div>
<div class="textboxEditText">
    <p>
        <label>Title subpage 3:</label>
        <input type="text" id="title3" />
    </p>
    <p>
        <label>Text subpage 3:</label>
        <textarea type="text" id="text3"></textarea>
    </p>
    <p>
        <button id="button3">Change Text</button>
    </p>
</div>
<div class="textboxEditText">
    <p>
        <label>Title subpage 4:</label>
        <input type="text" id="title1" />
    </p>
    <p>
        <label>Text subpage 4:</label>
        <textarea type="text" id="text4"></textarea>
    </p>
    <p>
        <button id="button4">Change Text</button>
    </p>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/cms/main.js")