@{
    ViewBag.Title = "Manage JAzz Events";

}


@{
    var test = new ProjectWebApplicatie.Models.Jazz();

}

<h2>Manage Jazz Events</h2>


<form action="/CMS/ViewEventSales" Method="GET">
    <input type="hidden" name="Eventsoort" value="Jazz" />
    <button type="submit">view all events</button>
</form>

<form action="/CMS/Create" Method="GET">
    <input type="hidden" name="Eventsoort" value="Jazz" />
    <button type="submit">Create event</button>
</form>

<form action="/CMS/Edit" Method="GET">
    <input type="hidden" name="Eventsoort" value="Jazz" />
    <button type="submit">Edit event</button>
</form>

<form action="/CMS/Delete" Method="GET">
    <input type="hidden" name="Eventsoort" value="Jazz" />
    <button type="submit">Delete Event</button>
</form>
