
@{
    ViewBag.Title = "FoodOverzicht";
}

<h2>FoodOverzicht</h2>

<input type="button" value="View Ticket Sales" onclick="location.href='@Url.Action("ViewJazzSales", "CMS")'" />
<input type="button" value="Edit event schedule" onclick="location.href='@Url.Action("EditJazzSchedule", "CMS")'" />
<input type="button" value="Edit Page Content" onclick="location.href='@Url.Action("EditJazzPage", "CMS")'" />