
@{
    ViewBag.Title = "DanceOverzicht";
}

<h2>DanceOverzicht</h2>

<input type="button" value="View Ticket Sales" onclick="location.href='@Url.Action("ViewDanceSales", "CMS")'" />
<input type="button" value="Edit event schedule" onclick="location.href='@Url.Action("EditDanceSchedule", "CMS")'" />
<input type="button" value="Edit Page Content" onclick="location.href='@Url.Action("EditDancePage", "CMS")'" />