@{
    ViewBag.Title = "Manage Dance Events";

}


@{
    var test = new ProjectWebApplicatie.Models.Dance();
    
}

<h2>DanceOverzicht</h2>

<input type="hidden" id="pageName" value="Dance" />



<input type="button" value="View Dance Sales" onclick="location.href='@Url.Action("ViewEventSales", "CMS", new {Dance = test})'" />
<input type="button" value="Create dance event" onclick="location.href='@Url.Action("Create", "CMS")'" />
<input type="button" value="Edit event schedule" onclick="location.href='@Url.Action("Edit", "CMS")'" />
<input type="button" value="Edit Page Content" onclick="location.href='@Url.Action("Delete", "CMS")'" />
