@model ProjectWebApplicatie.Models.Evenement

@{
    ViewBag.Title = "Manage Dance Events";

}

<h2>@ViewBag.Message</h2>

<h2>DanceOverzicht</h2>

@Html.HiddenFor(model => model.Events.EventSoort,
                    new { id= "EventSoort", Value = "Dance"})

<form action="/CMS/ViewEventSales" Method="GET">
    <input type="hidden" name="e" value="@Model" />
    <button type="submit">view all events</button>
</form>

<form action="/CMS/Create" Method="GET">
    <input type="hidden" name="Eventsoort" value="Dance" />
    <button type="submit">Create event</button>
</form>



