@model ProjectWebApplicatie.Models.Evenement

@{
    ViewBag.Title = "Manage Dance Events";

}

<h2>@ViewBag.Message</h2>

<h2>DanceOverzicht</h2>

<form action="/CMS/ViewEventSales" Method="GET">
    <input type="hidden" name="Eventsoort" value="Dance" />
    <button type="submit">view all events</button>
</form>

<form action="/CMS/Create" Method="GET">
    <input type="hidden" name="Eventsoort" value="Dance" />
    <button type="submit">Create event</button>
</form>

<form action="/CMS/Edit" Method="GET">
    
    <button type="submit">Edit event</button>
</form>

<form action="/CMS/Delete" Method="GET">
    
    <button type="submit">Delete Event</button>
</form>

