@model ProjectWebApplicatie.Models.EventPage

@{
    ViewBag.Title = "Dance";
}

<head>
    <meta charset="UTF-8">
    <title>Haarlem Festival - Dance</title>
    <link rel="stylesheet" href="~/Content/DanceStyle.css">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar nav">
            <li class="">
                <a href="#" class="active">Home</a>
            </li>
            <li class="">
                <a href="food.html" class="">Food</a>
            </li>
            <li class="">
                <a href="dance.php" class="">Dance</a>
            </li>
            <li class="">
                <a href="jazz.html" class="">Jazz</a>
            </li>
            <li class="">
                <a href="history.html" class="">History</a>
            </li>
            <li class="">
                <a href="cart.html" class="">Cart</a>
            </li>
        </ul>
    </nav>
    <div class="button-on-image">
        <img src="~/Content/images/ProjectVeerplasFestival_mettext.png" alt="VeerplasFestival Header" class="header">
        <button class="btn" id="image-button1">FULL SCHEDULE</button>
        <button class="btn" id="image-button2">BUY TICKETS NOW</button>
    </div>
    <section class="article-group">
        <div class="article-left">
            <img src="~/Content/images/armin van buuren cropped.png" alt="" class="article-left-image">
            <div class="article-text-left">
                <h1>Armin van Buuren</h1>
                <p>Armin van Buuren is a dutch DJ, who has been ranked number one by DJ Mag  five times already. He has conquered the world with singles like "This is what is feels like"   and  "Another you"   and is coming to Haarlem Festival to play live for you!</p>
                <button class="btn">Learn More</button>
            </div>
        </div>
        <div class="article-right">
            <img src="~/Content/images/Hardwell cropped.png" alt="" class="article-right-image">
            <div class="article-text-right">
                <h1>Hardwell</h1>
                <p>Hardwell first gained recognition in 2009 for his bootleg for "Show Me Love vs. Be", He is best known for his live performances and remixes of popular songs.  He recently started his "United We Are"  tour and will play 3 shows (including a collab with Martin Garrix and Armin van Buuren) at the Haarlem Festival. </p>
                <button class="btn">Learn More</button>
            </div>
        </div>
        <div class="article-left">
            <img src="~/Content/images/afrojack cropped.png" alt="" class="article-left-image">
            <div class="article-text-left">
                <h1>Afrojack</h1>
                <p>Known for singles like "Take over control" and "Give me everything", the dutch DJ Afrojack is coming to the Haarlem Festival. There he will show off his new album, "Forget the World". </p>
                <button class="btn">Learn More</button>
            </div>
        </div>
        <div class="article-right">
            <img src="~/Content/images/DJTiesto cropped.png" alt="" class="article-right-image">
            <div class="article-text-right">
                <h1>DJ Tiësto</h1>
                <p>He was named "the Greatest DJ of All Time" by Mix magazine.  He was voted by DJ Magazine readers as the "best DJ of the last 20 years". He is also regarded as the "Godfather of EDM". Get ready, because DJ Tiësto is coming to the Haarlem Festival!</p>
                <button class="btn">Learn More</button>
            </div>
        </div>
        <div class="article-center">
            <div class="article-text-center">
                <h1>And that's not all...</h1>
                <p>Armin van Buuren, Hardwell, Afrojack and DJ Tiësto will be there. But there are even more artists at the Haarlem Festival that you must see!  For tickets and the full schedule, click the button below.</p>
            </div>
            <div class="article-button-center">
                <button class="btn">FULL SCHEDULE</button>
                <button class="btn">BUY TICKETS NOW</button>
            </div>
        </div>
    </section>
    <footer>
        <p> Deze website is gemaakt voor een project bij Inholland, door groep F2 (bestaande uit Wendel Lammes, Mark van der Neut, Mathijs Helderman, Lars de Jong en Jordy Slee).</p>
    <footer>
</body>
