
@{
    ViewBag.Title = "FoodPurchase";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="~/Content/FoodStyle.css">
    <title>Haarlem Festival Food Purchase</title>
    <meta name="description" content="Haarlem Festival Food Purchase">
</head>
<body>
    <div id="grad">

        <img src="images/header_smaller.png">
        <h1>Reservation</h1>

        <h2>Ticket Information</h2>
        <h3>Restaurant</h3>
        <select>
            <option value="Restaurant Mr & Mrs">Restaurant Mr & Mrs</option>
            <option value="Ratatouille">Ratatouille</option>
            <option value="Restaurant ML">Restaurant ML</option>
            <option value="Restaurant Fris">Restaurant Fris</option>
            <option value="Specktakel">Specktakel</option>
            <option value="Grand Cafe Brinkmann">Grand Cafe Brinkmann</option>
            <option value="Urban Frenchy Bistro Toujours">Urban Frenchy Bistro Toujours</option>
            <option value="The Golden Bull">The Golden Bull</option>
        </select>
        <br>
        <br>
        <h3>Date</h3>
        <select>
            <option value="Friday, 27 July">Friday, 27 July</option>
            <option value="Saturday, 28 July">Saturday, 28 July</option>
            <option value="Sunday 29 July">Sunday 29 July</option>
        </select>
        <br>
        <br>
        <h3>Time</h3>
        <select>
            <option value="18:00-19:30">18:00-19:30</option>
            <option value="19:30-21:00">19:30-21:00</option>
            <option value="21:00-22:30">21:00-22:30</option>
        </select>
        <br>
        <br>
        <h3>Seats</h3>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <br>
        <br>
        <br>
        <br>
        <h3>E-Mail Adress</h3>
        <input type="text" name="email">
        </br>
        <button type="button">Place Order</button>
</body>

