
@{
    ViewBag.Title = "Food";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="~/Content/FoodStyle.css">
    <title>Haarlem Festival Food</title>
    <meta name="description" content="Haarlem Festival Food">
</head>
<body>
    <div id="grad">

        <img src="~/Content/images/Food/header_smaller.png">
        <h1>Haarlem Food</h1>

        <h2>Delicious varied meals</h2>
        <p>
            Delicious varied food like no other!<br>
            This and more you will find at the Haarlem Food event;<br>
            from modern food to European cuisine at Haarlem Food <br>
            you can truly enjoy the world's kitchen.<br>
        </p>
        <div id="btndiv">
            <button class="btn">Learn more</button>
            <button class="btn">Order now</button>
        </div>
        <img src="~/Content/images/Food/image1.png">

        <h2>Amazing Prices</h2>

        <p>
            At the Haarlem Food event <br>
            reservation costs can go down by <br>
            as much as 50%!<br>
        </p>


        <div id="btndiv">
            <button class="btn">Learn more</button>
            <button class="btn">Order now</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="~/Content/images/Food/image2.png">

        <h2>Reservation is required</h2>

        <p>
            The prices and food are nothing short of<br>
            amazing here at the Haarlem Food event.<br>
            Be sure to reserve your spot<br>
            or you might be too late!<br>
        </p>
        <div id="btndiv">
            <button class="btn">Order now</button>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>