@model ProjectWebApplicatie.Models.EventPage

@{
    ViewBag.Title = "Historic";
}

<head>
    <meta charset="UTF-8">
    <title>Haarlem Festival - Historic</title>
    <link rel="stylesheet" href="~/Content/HistoricStyle.css">
</head>
<body>


    <header>
        <nav class="navbar">
            <ul class="navbar nav">
                <li class="">
                    <a href="#" class="active">Home</a>
                </li>
                <li class="">
                    <a href="food.html" class="">Food</a>
                </li>
                <li class="">
                    <a href="Dance" class="">Dance</a>
                </li>
                <li class="">
                    <a href="jazz.html" class="">Jazz</a>
                </li>
                <li class="">
                    <a href="history.html" class="">History</a>
                </li>
                <li class="">
                    <a href="cart.html" class="">Cart</a>
                </li>
            </ul>
        </nav>
        <h1>Historic Haarlem</h1>
    </header>

    <section>
        <article>
            <img class="left" src="~/Content/images/historic/HomeOne.png" alt="an image of a street in Haarlem">

            <h2>General Information</h2>
            <p>
                Take a great and informative tour through the most interesting spots in Haarlem. The tour is offered in Dutch, English and even Chinese!<br/>
                Due to the nature of the tour all participants must be above 12 years of age and strollers are not permitted.
            </p>

            <a class="button right" href="moreInformationHistoric.html">Learn More</a>
            <a class="button right" href="ticketHistoric.html">Buy Tickets</a>
        </article>

        <article>
            <img class="right" src="~/Content/images/historic/HomeTwo.png" alt="an image of a street in Haarlem">
            <h2>About The Monuments</h2>
            <p>
                The tour will stop at several amazing places, including the St. Bavo Church, the church in the centre of Haarlem. Other stops include the Hof van Bakenes, the oldest hof in the Netherlands. <br />
                Interested in knowing all the details about the various places?
            </p>

            <a class="button" href="monumentInfoHistoric.html">Learn More</a>
            <a class="button" href="ticketHistoric.html">Buy Tickets</a>
        </article>
    </section>
    <footer>
        <p> Deze website is gemaakt voor een project bij Inholland, door groep F2 (bestaande uit Wendel Lammes, Mark van der Neut, Mathijs Helderman, Lars de Jong en Jordy Slee).</p>
    <footer>
</body>
