@{
    ViewBag.Title = "Haarlem Festival Home Page";
    @Styles.Render("~/Content/css/homepage.css")
}

<!-- Homepage Haarlem Festival Banner -->
<div id="homepage-banner-image"></div>
<div class="homepage-banner-arrow" id="homepage-banner-arrow-left"></div>
<div class="homepage-banner-arrow" id="homepage-banner-arrow-right"></div>

<!-- Homepage info -->
<div id="homepage-background-image">
    <div class="subpage-container">
        <article class="homepage-text-container right" id="homepage-text-food">
            <h2>Food</h2>
            <p>
                Discover the best restaurants Haarlem has to offer this summer!
                Treat yourself to a classic dutch meal in restaurant Fris, or
                enjoy some authentic french food at Ratatouille. Bon Apetit!
                Press read more to view the full line-up of restaurants,
                and to make your reservation.
            </p>
            <br />
            <br />
            <br />
            <a href="#food.html" class="btn-champion_page food">Learn More</a>
            <a href="#food-get_tickets.html" class="btn-champion_page food">Get Tickets</a>
        </article>
    </div>
    <div class="subpage-container">
        <article class="homepage-text-container left" id="homepage-text-dance">
            <h2>Dance</h2>
            <p>
                This summer, Haarlem will transform into the EDM capital of the
                world. Five of Haarlem’s hottest clubs will be packed all weekend,
                with industry icons like Hardwell, Martin Garrix, and Afrojack
                playing sets deep into the night.
            </p>
            <br />
            <br />
            <br />
            <a href="#dance.html" class="btn-champion_page dance">Learn More</a>
            <a href="#dance-get_tickets.html" class="btn-champion_page dance">Get Tickets</a>
        </article>
    </div>
    <div class="subpage-container">
        <article class="homepage-text-container right" id="homepage-text-jazz">
            <h2>Jazz</h2>
            <p>
                Gare du Nord. Soul Six. Myles Sanko. These are some of the biggest
                names in jazz and they are all travelling to Haarlem this summer!
                Over the course of three days, over twenty artists will perform
                in Haarlem’s iconic Patronaat concert hall.
            </p>
            <br />
            <br />
            <br />
            <a href="~/Jazzs/Index" class="btn-champion_page jazz">Learn More</a>
            <a href="~/Jazzs/Tickets" class="btn-champion_page jazz">Get Tickets</a>
        </article>
    </div>
    <div class="subpage-container">
        <article class="homepage-text-container left" id="homepage-text-history">
            <h2>History</h2>
            <p>
                This summer, Haarlem festival has organised several tours that
                will take you throughout the city. You’ll visit churches that
                are hundreds of years old, war-damaged buildings and we’ll tell
                you the stories behind the cities’ most famous statues.
            </p>
            <br />
            <br />
            <br />
            <a href="#history.html" class="btn-champion_page history">Learn More</a>
            <a href="#history-get_tickets.html" class="btn-champion_page history">Get Tickets</a>
        </article>
    </div>
</div>