
@{
    ViewBag.Title = "JazzOverzicht";
}

<h2>JazzOverzicht</h2>

<input type="button" value="View Ticket Sales" onclick="location.href='@Url.Action("ViewFoodSales", "CMS")'" />
<input type="button" value="Add or Remove Restaurants" onclick="location.href='@Url.Action("EditFoodRestaurants", "CMS")'" />
<input type="button" value="Edit Page Content" onclick="location.href='@Url.Action("EditFoodPage", "CMS")'" />