
@{
    ViewBag.Title = "FoodOverzicht";
}

<h2>FoodOverzicht</h2>

<input type="button" value="View Ticket Sales" onclick="location.href='@Url.Action("DanceOverzicht", "CMS")'" />
<input type="button" value="Edit event schedule" onclick="location.href='@Url.Action("JazzOverzicht", "CMS")'" />
<input type="button" value="Edit Page Content" onclick="location.href='@Url.Action("HistoricOverzicht", "CMS")'" />